<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body class="bg-gray-50">

    <div class="container mx-auto mt-8 max-w-lg px-4">
        <h1 class="text-3xl font-semibold mb-6 text-center">Update Product</h1>
        <form id="update-product-form" class="p-6 rounded-md border border-gray-300 shadow-sm">
            <div class="mb-4">
                <label for="product-name" class="text-lg font-semibold">Product Name</label>
                <input type="text" id="product-name" name="product_name"
                       class="w-full mt-2 p-3 border border-black rounded-md"
                       placeholder="Enter product name" required>
            </div>
            <div class="mb-4">
                <label for="product-desc" class="text-lg font-semibold">Description</label>
                <textarea id="product-desc" name="product_desc" rows="5"
                         class="resize-none w-full mt-2 p-3 border border-black rounded-md"
                         placeholder="Enter product description" required></textarea>
            </div>

            <div class="mb-4">
                <label for="product-price" class="text-lg font-semibold">Price</label>
                <input type="number" id="product-price" name="product_price" step="0.01" min="0"
                       class="w-full mt-2 p-3 border border-black rounded-md"
                       placeholder="e.g., 700" required>
            </div>

            <div class="mb-4">
                <label for="product-version" class="text-lg font-semibold">Version</label>
                <input type="text" id="product-version" name="product_version"
                       class="w-full mt-2 p-3 border border-black rounded-md"
                       placeholder="e.g., 1.2.1" required>
            </div>

            <div id="error-container" class="mb-4 text-md text-red-700">
            </div>

            <div class="mt-6">
                <button type="submit" class="w-full cursor-pointer px-6 py-3 bg-emerald-600 text-white text-lg font-semibold rounded-md shadow hover:bg-emerald-800 transition duration-200 ease-in-out">
                    Update Product
                </button>
            </div>
        </form>
        <div class="mt-6 text-left">
            <a href="/products" class="text-slate-500 hover:text-slate-700 text-lg p-2">
              Back to Products List
           </a>
       </div>
    </div>

    <script>
        const urlArray = window.location.pathname.split("/")
        const productId = urlArray[2]; 

        function populateForm(productData) { 
                $('#product-name').val(productData.product_name);
                $('#product-desc').val(productData.product_desc);
                $('#product-price').val(productData.product_price);
                $('#product-version').val(productData.product_version);
        }

        $(document).ready(function () {
           
            $.ajax({
                    url: `http://localhost:80/api/products/${productId}`,
                    type: 'GET',
                    dataType: 'json',
                    success: function(productData) {
                        populateForm(productData[0]);
                    }
            });
            
            $('#update-product-form').on('submit', function (e) {
                e.preventDefault(); 
                $('#error-container').html('');


                const updatedData = {
                    product_name: $('#product-name').val(),
                    product_desc: $('#product-desc').val(),
                    product_price: $('#product-price').val(),
                    product_version: $('#product-version').val()
                };

                $.ajax({
                    url: `http://localhost:80/api/products/${productId}`,
                    type: 'PUT', 
                    contentType: 'application/json',
                    data: updatedData,
                    dataType: 'json',
                    success: function (response) {
                        alert("Product updated successfully in database");
                        window.location.replace("/products"); 
                    },
                    error: function (data) {
                        $('#error-container').html('')
                        for (const property in data.responseJSON) {
                                $('#error-container').append(`<div>${data.responseJSON[property]}</div>`)
                        }
                    }
                });
            });
        });
    </script>

</body>
</html>